table, 
th, 
td {
  border: 3px solid black;
  text-align: center;
  font-family: garamond, serif;
  font-weight: bold;
}

div.list {
  font-family: garamond, serif;
  font-size: 115%;
}

/* added comment to retry linter */
