body {
  background-color: tan;
}

table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  font-family: garamond, serif;
  font-weight: bold;
  padding: 5px;
}

div.list {
  font-family: garamond, serif;
  font-size: 115%;
}

.header {
  text-align: center;
  margin: 25px;
  font-size: 500%;
}

.topnav {
  overflow: hidden;
  background-color: Peru;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.topnav a:hover {
  background-color: SaddleBrown;
  color: White;
}

.headersv2 {
  font-size:250%;
}
      
.paras {
  font-family:garamond;
}

.table-margin {
  margin-right: 150px;
  margin-left: 150px;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}
/* This clears the float element after the columns to prevent the rest of the page from being forced to follow the same design. */
@media screen and (max-width: 600px) {
  .column {
    width: 100;
  }
}